body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #d3d3d3;
    color: #d3d3d3;
    padding: 20px 0;
}

.featured-suits{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.featured-suits img{
    width: 48%;
    max-width: 100%;
    height: auto;
    display: block;
}

input[type=text] {
    width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("searchIcong.png");
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 70%;
  }