body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: red;
}

nav {
    background-color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

nav a {
    display: flex;
    align-items: center;
    background-color: red;
    text-decoration: none;
}

.logo {
    color: #fff;
    font-size: 24px;
}

.search-bar {
    display: flex;
    align-items: left;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.search-bar button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

